<%- include('./partials/master-part-1.ejs') %>
    <div class="col-md-12 box">
        <h3> Content most be here </h3>
    </div>
<%- include('./partials/master-part-2.ejs') %>
	<script>
        // custom js here
    </script>
<%- include('./partials/master-part-3.ejs') %>