<!DOCTYPE html>
<html>
	<head>
		<%- include('./css.ejs') %>
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<%- include('./navbar.ejs') %>
			<%- include('./aside.ejs') %>
			<div class="content-wrapper">
			    <div class="clearfix"></div>